*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #D9E8E7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #1F2833;
}
#limg{
    width: 48px;
    height: 48px;
    border-radius: 180px; 
}

.navlinks{
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.navlinks li{
    list-style: none;
}

.navlinks a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

.line{
    text-align: center;
}

.line h2{
    text-transform: uppercase;
    font-size: 30px;
    padding: 30px;
}

.borderline {
    width: 85%;
    border: 1px solid #676767;
    margin-left: 7.5%;
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 1000px;
    height: 500px;
}

.slide-container {
    margin-top: 50px;
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container {
    width: 3000px;
    height: 500px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: 2s;
}

.button-container {
    top: -20px;
    position: relative;
}

.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #676767;
}

#slider-image-1:target ~ .image-container{left: 0px;}
#slider-image-2:target ~ .image-container{left: -1000px;}
#slider-image-3:target ~ .image-container{left: -2000px;}

h3{
    padding: 30px 0px;
    margin-left: 7.5%;
}
.inside-box{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 50px;
}

.game-details{
    margin: 0px;
}

.image-w-title{
    width: 235px;
    height: 100px;
}

.details{
    width: 235px;
    height: 60px;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
}

.games{
    display: flex;
    justify-content: space-around;
}

.most-pop {
    height: 350px;
    width: 50%;
}

#gris{
    height: 350px;
    width: 550px;
}

.details-pop{
    position: relative;
    margin: 0;
    background-color: #fff;
    height: 80px;
    width: 550px;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
    line-height: 80px;
}

.second-half{
    display: grid;
    grid-template-columns: auto auto;
    gap: 80px 40px;
    padding: 20px;
}

.popular {
    display: flex;
}

.square-au{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 290px;
    background-color: #1F2833;
    justify-content: center;
    align-items: center;
    display: flex;
}

#logo-au{
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 180px;
    margin-left: auto;
    margin-right: auto;
}

#about-text{
    font-size: 30px;
    text-align: center;
}

.aims-obj{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 1000px;
    height: 390px;
    border: 2px solid black;
    background-color: #45A29E;
}

.ao-title{
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-weight: 900px;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 30px;
}

.ao-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.ao-desc{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-weight: bolder;
}

.inside-box .aims-obj:nth-child(3){
    background-color: #C4C4C4;
}

footer{
    margin-top: 100px;
    font-size: 18px;
}

.sign-inup-container{
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    width: 530px;
    height: 550px;
    background-color: #1F2833;
    text-align: center;
}

.logo-signinup{
    margin-top: 40px;
    border-radius: 180px;
    width: 150px;
    height: 150px;
}

.input-form{
    margin-top: 30px;
    width: 200px;
    height: 55px;
}

.form-group .input-form:nth-last-child(1){
    background-color: #45A29E;
    color: white;
}

#signup-css a{
    margin-top: 10px;
    text-decoration: none;
    color: white;
}